/* Write your CSS here */

.destination-item {
  list-style-type: none;
  width: 235px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.destination-img {
  width: 235px;
  height: 175px;
}

.destination-name {
  color: #252627;
  font-size: 26px;
  font-family: 'Roboto';
}

@media screen and (min-width:768px){
    .destination-name{
        font-size: 30px;
    }
}